/* style sheet */
body, html{
    height:auto;
    width:auto;
}

body {
    /* The link of image used */
    background-image:URL("../image/web-agency-background.jpg");
    /* full height */
    /* background-position: center; */
}

body {
    color: whitesmoke;
}

.transparent {
    background-color: transparent;
}

a { color: inherit; }
a:hover { color: gray;} 

.navbar-brand{
    font-size: 40px;
    font-family: 
}

.dropdown-menu {
    background-color: rgb(39, 39, 39);
}
.dropdown-item {
    color:whitesmoke;
}

footer {
    color:rgb(39, 39, 39);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    display: table;
    text-align: center;
    margin-bottom: 50px;
  }

.contact-title{
    margin-top: 50px;
}

h1,h3 {
    text-align: center;
}

form { 
    margin-top: 50px; 
    }

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: gray;
    font-size:18px;
    /* margin-bottom: 16px; */
    text-align: center;
    margin:auto;
    display: block;
}

input{
    height:45px;
}

form .submit {
    background:#ff5722;
    border-color: transparent;
    color:#fff;
    font-size:20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

#sumbit:hover {
    background-color:gray;
    cursor: pointer;
}

.btn-social-icon{
    margin-right: 20px;
}